{% extends 'base.html.twig' %}

{% block title %}Hello StudentController!{% endblock %}

{% block body %}
<a href="{{ path('studentList') }}" class="btn btn-info">View students list</a>

<div class="container">
    {{ form_start(form) }}
    <div class="row">
        <div class="col">
            <div class="form-group mb-4">
                {{ form_label(form.firstName) }}
                {{ form_widget(form.firstName) }}
            </div>
            <div class="form-group mb-4">
                {{ form_label(form.lastName) }}
                {{ form_widget(form.lastName) }}
            </div>
            <div class="form-group mb-4">
                {{ form_label(form.numEtud) }}
                {{ form_widget(form.numEtud) }}
            </div>
        </div>
    </div>
    {{ form_end(form) }}
</div>
{% endblock %}
