{% extends 'base.html.twig' %}

{% block title %}Hello StudentController!{% endblock %}

{% block body %}
    <div class="container">
        <a href="{{ path('studentCreation') }}" class="btn btn-success">Create a new student</a>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First name</th>
                    <th scope="col">Last name</th>
                    <th scope="col">Student number</th>

                    {% if department is defined %}
                    <th scope="col">Department</th>
                    {% endif %}
                    
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ student.firstName }}</td>
                    <td>{{ student.lastName }}</td>  
                    <td>{{ student.numEtud }}</td>

                    {% if department is defined %}
                    <td>{{ department }}</td>
                    {% endif %}

                    <td>
                        <a href="{{ path('studentEdition', { id: student.id }) }}" class="btn btn-primary">Edit</a>
                        <a href="{{ path('studentDeletion', { id: student.id }) }}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
